/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
  overflow-x: hidden;
}

.container{
background-size: 100%;
background-image: url(https://media.istockphoto.com/photos/crumpled-paper-sheet-texture-picture-id1077327944?b=1&k=20&m=1077327944&s=170667a&w=0&h=n5XMcNk2I-4Yi-_duCRyPt5QXNrYpytbBg0qgKtAq4k=);
/* background-repeat: no-repeat; */
}

.avisos .container{
  margin-right: 550px;
  width: 100%;
}

.dash-right .avisos {
  width: 100%;
  color: #261820
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

#form_postagem{
  margin-left: 5vh;
  margin-right: 10vh;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 80%;
  border-radius: 5px;
  border: 3px solid #A64141;
  background-color: #f2f2f2;
}

.dash-right .avisos .div-form textarea {
  width: 85%;
  border: 3px solid #A64141;
  background-color: #f2f2f2;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #A64141;
  width: 120px;
  margin-left: 10px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #261820;
  width: 80px;
  margin-left: 5vh;
}

.publicacao {
  /* display: flex;
  flex-wrap: wrap; */
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #261820;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  /* padding: 0 0 10px 0; */
}

.div-results {
  width: 80%;
}

.div-results .feed-container {
  background-color: #A64141;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #261820;
}

.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: #261820;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.perigo-frio {
  background-color: #F2A488;
}


.alerta-frio {
  background-color: #F2A488;
}

.alerta-quente {
  background-color: #F2A488;
}

.ideal {
  background-color: #F2A488;
}

.item-regua {
  padding: 5px;
  width: 70%;
  margin: 5px;
  text-align: center;
  margin-bottom: 40px;
}

#botao-sortear {
  width: 70%;
  border: 0;
  background-color: #261820;
  font-size: 15px;
}

#botao-img {
  color: #f2f2f2;
  width: 40%;
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* height: 450px; */
  width: 300%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 80%;
  /* flex-wrap: wrap; */
  display: flex;
  text-align: center;
  align-items: center;
  height: 50%;
  justify-content: right;
  background-color: #f2a48865;
  font-size: 20px;
  border-radius: 30px;
}

.card p {
  margin: 0;
  font-size: 20px;
  align-items: center;
  font-weight: lighter;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  /* border-bottom: solid white 1px; */
  text-align: left;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

/* .cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
} */

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #261820;
  background-color: #A64141;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}